.calculator
{
    border: 3px solid;
    width:300px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:800px;
    margin-top: 15%;
    column-gap:10px;
    row-gap: 10px;
    background-color:#CDF0EA;
    position: absolute;
}

body{
    background-color: var(--primary-background-color);
    color:var(--primary-text-color);
}
#result, #upper-display
{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    font-size: 30px;
}

#upper-display
{
    font-size: 15px;
    position: relative;
}

*{
    margin:0px;
    padding: 0px;
    background-color:var(--primary-background-color) ;
    background-size: cover;
}
.first-row
{
    color:#ffffff;
}


.below-display
{
    display: flex;
    flex-direction: column;
    margin:10px;
    background-color:#CDF0EA;
    position: relative;
}

.display
{
    border:3px solid;
    margin:7px;
    width:279px;
}
button
{
    font-size: 20px;
    text-align: center;
    padding:7px;
    align-items: stretch;
    width: 40px;
    padding: 10px;
    background:#8CEF74;
    color:#ffffff;
    display:inline-flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    transition: background 0.2s;
}

button:hover
{
    background:#C6FFAB;
}

#clear , #equals
{
    margin-bottom: 20px;
    
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row
{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: 5px;
    background-color:#CDF0EA;
}